<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Bookmark Manager</h1>
    <a href='/bookmarks'>Show bookmarks</a></br>
    <a href='/bookmarks/new'>Create bookmark</a></br>
  </body>
</html>