<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>

    <form action="/bookmarks/delete" method="post">
      <% @bookmarks.each do |bookmark| %>
        <label for="title"><%= bookmark.url %></label>
        <input type="submit" name="delete" value="<%= bookmark.url %>">
        </br>
      <% end %>
    </form>
  </body>
</html>
