<body>
  <form action="/bookmarks" method="post">
    <label for="add_bookmark">Add bookmark</label>
      <input type="text" name="url"/>
      <input type="submit" value="Submit"/>
  </form>
</body>