<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <form action="/bookmarks" method="post">
      <label for="url">URL:</label>
        <input type="text" name="url"/>
      <label for="title">Title:</label>
        <input type="text" name="title"/>
        <input type="submit" value="Submit"/>
    </form>
    <img src='https://cdn.shopify.com/s/files/1/1061/1924/products/Smiling_Face_Emoji_with_Blushed_Cheeks_large.png?v=1571606036' class="blush_emoji" alt="logo" />
  </body>
</html>
